# join

In [3]:
import pandas as pd

In [13]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"C":[10,20,30,40],"D":[11,22,33,44]})

var1.join(var2)

   A   B   C   D
0  1  11  10  11
1  2  12  20  22
2  3  13  30  33
3  4  14  40  44

In [14]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]}, index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[10,20,30,40],"D":[11,22,33,44]})

var1.join(var2)

   A   B   C   D
a  1  11 NaN NaN
b  2  12 NaN NaN
c  3  13 NaN NaN
d  4  14 NaN NaN

In [15]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]}, index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[10,20],"D":[11,22]},index=["a","b"])

var2.join(var1)

    C   D  A   B
a  10  11  1  11
b  20  22  2  12

In [16]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]}, index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[10,20],"D":[11,22]},index=["a","b"])

var2.join(var1, how='left')

    C   D  A   B
a  10  11  1  11
b  20  22  2  12

In [17]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]}, index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[10,20],"D":[11,22]},index=["a","b"])

var2.join(var1, how='right')

      C     D  A   B
a  10.0  11.0  1  11
b  20.0  22.0  2  12
c   NaN   NaN  3  13
d   NaN   NaN  4  14

In [18]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]}, index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[10,20],"D":[11,22]},index=["a","b"])

var2.join(var1, how='inner') # it shows intersection data only

    C   D  A   B
a  10  11  1  11
b  20  22  2  12

In [19]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]}, index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[10,20],"B":[11,22]},index=["a","b"])

var2.join(var1, how='outer', lsuffix='12', rsuffix='21')

      C   B12  A  B21
a  10.0  11.0  1   11
b  20.0  22.0  2   12
c   NaN   NaN  3   13
d   NaN   NaN  4   14

# Append

In [4]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]}, index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[10,20],"B":[11,22]},index=["a","b"])

var1.append(var2)

AttributeError: 'DataFrame' object has no attribute 'append'