In [1]:
import pandas as pd

In [4]:
var = pd.DataFrame({'a':[1,2,3,4],'b':[5,6,7,8]})
var

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [8]:
var.to_csv('filename.csv')
var

   a  b
0  1  5
1  2  6
2  3  7
3  4  8